fastapi==0.135.3
firebase_admin==7.3.0
uvicorn==0.42.0
python-dotenv==1.2.2
sendgrid==6.12.5
httpx==0.28.1
supabase==2.15.1
python-multipart==0.0.20
numpy==2.2.6
pandas==2.2.3
joblib==1.5.0
scikit-learn==1.6.1
pyarrow==20.0.0
